@import '_fonts.scss';
@import '_footer.scss';
@import '_nav.scss';
@import '_main.scss';
@import '_project.scss';
@import '_contact.scss';

html {
    display: flex;
    justify-content: center;
    margin: 0;
}

body {
    margin: 3em 1em 3em 1em;
    min-width: 70em;
    font-family: 'Mulish', sans-serif; 
}
